// core overrides
$colors: (
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    blue: $blue,
    pink: $pink,
    purple: $purple,
    white: $white,
    gray: $gray-600,
    gray-dark: $gray-900
  ) !default;